.form-control {
    margin: 0.5rem 0;
    label {
        font-weight: bold;
        display: block;
      }
  }
 input{
     padding: 1px;
     outline: none;
     transition: .2s all ease-out;
     &:focus{
        border: 2px solid $base-color;
     }
 }
